@model IEnumerable<RWA.Drzava>
@{ 
    ViewBag.Title = "Drzave";
}

<table class="table">
    <tr>
        <th>
            <h1>Države</h1>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            <h3>@Html.DisplayFor(modelItem => item.Naziv)</h3>
                @foreach (var grad in item.Grad)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(grad.Naziv, "Gradovi", new { id = grad.Idgrad })
                        </td>
                    </tr>
                }
            
        </td>
    </tr>
}

</table>
